<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>478075746592-a340dq6qurvkm9ovhv2n4k1hjvb0ttdm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.478075746592-a340dq6qurvkm9ovhv2n4k1hjvb0ttdm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>478075746592-98ta7a9j4c1tdlneh6aavquum61fvo9f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD07NPr8EtV-uA5RTKkQbH0eJ2NW8bbjd0</string>
	<key>GCM_SENDER_ID</key>
	<string>478075746592</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>xyz.facewallet.unity.app</string>
	<key>PROJECT_ID</key>
	<string>prj-d-face</string>
	<key>STORAGE_BUCKET</key>
	<string>prj-d-face.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:478075746592:ios:e914f70491de9971997f45</string>
</dict>
</plist>